{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="./css/normalize.css">
	<link rel="icon" href="./media/favicon.ico"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>IGNIS</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header-flex">
				<nav class="header-menu-left">
					<ul class="header-menu-list">
						<li class="header-menu-item"><a class="header-menu-link" href="catalog-woman.html"><i class="fa-solid fa-venus"></i> Женщинам</a></li>
						<li class="header-menu-item"><a class="header-menu-link" href="catalog-men.html"><i class="fa-solid fa-mars"></i> Мужчинам</a></li>
					</ul>
				</nav>
				<div class="header-logo">
					<a href="index.html"><img src="./media/main/header/Logo.svg" alt="" class="header-avatar"></a>
					<div class="header-line">
						<img src="./media/main/header/Line 1.svg" alt="">
					</div>
					<h1 class="header-title">
						<a class="header-title-link" href="index.html">ignis</a>
					</h1>
				</div>
				<nav class="header-menu-right">
					<ul class="header-menu-list">
						<li class="header-menu-item"><a class="header-menu-link" href="profile.html"><i class="fa-solid fa-user"></i> Профиль</a></li>
						<li class="header-menu-item"><a class="header-menu-link" href="favorites.html"><i class="fa-solid fa-heart"></i> Избранное</a></li>
						<li class="header-menu-item"><a class="header-menu-link" href="cart.html"><i class="fa-solid fa-cart-shopping"></i> корзина</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<section class="cart">
			<div class="container">
				<nav class="cart-navbar">
					<ul class="cart-list">
						<li class="cart-item"><a href="index.html" class="cart-link">Главная</a></li>
						<i class="fa-solid fa-chevron-right"></i>
						<li class="cart-item"><a href="cart.html" class="cart-link">Корзина</a></li>
					</ul>
				</nav>
				<h1 class="cart-title">
					<a href="cart.html">Ваш заказ</a>
				</h1>
				<div class="cart-info">
					<div class="cart-img-name">
						<img src="./media/cart/image 9.jpg" alt="" class="cart-avatar">
						<p class="cart-name">Кепка</p>
					</div>
					<p class="cart-vendor">арт. 1589956</p>
					<div class="cart-color">
						<img src="./media/cart/color_yellow.svg" alt="" class="cart-img-color">
					</div>
					<div class="cart-minus-plus">
						<i class="fa-solid fa-minus"></i>
						<p class="cart-num">3</p>
						<i class="fa-solid fa-plus"></i>
					</div>
					<p class="cart-num">
						8 700 руб.
					</p>
					<a href=""><img src="./media/cart/cart.svg" alt="" class="cart-images"></a>
				</div>
				<div class="cart-info">
					<div class="cart-img-name">
						<img src="./media/cart/image 13.jpg" alt="" class="cart-avatar">
						<p class="cart-name">Кепка</p>
					</div>
					<p class="cart-vendor">арт. 1588262</p>
					<div class="cart-color">
						<img src="./media/cart/color_blue.svg" alt="" class="cart-img-color">
					</div>
					<div class="cart-minus-plus">
						<i class="fa-solid fa-minus"></i>
						<p class="cart-num">2</p>
						<i class="fa-solid fa-plus"></i>
					</div>
					<p class="cart-num">
						5 800 руб.
					</p>
					<a href=""><img src="./media/cart/cart.svg" alt="" class="cart-images"></a>
				</div>
				<p class="cart-price">
					К оплате: <span class="cart--fw-bold">14 500 руб</span>
				</p>
				<p class="cart-decor">
					Оформление заказа
				</p>
				<div class="cart-flex">
					<div class="cart-data">
						<p class="cart-data-text">
							Персональные данные:
						</p>
						<form action="" class="cart-form">
							<div class="cart-item">	
								<input type="text" placeholder="Ваше имя*" required>
								<input type="text" placeholder="Ваша фамилия*">
							</div>
						</form>
						<form action="" class="cart-form">
							<div class="cart-item">	
								<input type="text" placeholder="Ваш e-mail*" required>
								<input type="text" placeholder="Ваш телефон*">
							</div>
						</form>
						<p class="cart-data-text">
							Способ доставки:
						</p>
						<p class="cart-data-text">
							По России:
						</p>
						<div class="cart-delivery">
							<div class="cart-cash">
								<img src="./media/cart/Ellipse 6.svg" alt="" class="cart-circle">
								<p class="cart-huy">
									Самовывоз - г. Брянск, пр-т Станке Димитрова, д. 3
								</p>
							</div>
							<div class="cart-cash">
								<img src="" alt="" class="cart-circle-2">
								<p class="cart-huy">
									Новая Почта
								</p>
							</div>
						</div>
						<p class="cart-data-text">
							Адрес доставки:
						</p>
						<form action="" class="cart-form">
							<div class="cart-item">	
								<input type="text" placeholder="Город*" required>
								<input type="text" placeholder="Отделение почты*">
							</div>
						</form>
						<p class="cart-data-text">
							Вы можете оплатить покупку одним из ниже перечисленных способов:
						</p>
						<div class="cart-delivery">
							<div class="cart-cash">
								<img src="" alt="" class="cart-circle-2">
								<p class="cart-huy">
									Денежным переводом  
								</p>
								<img src="./media/cart/Combined-Shape.svg" alt="" class="cart-mir">
							</div>
							<div class="cart-cash">
								<img src="./media/cart/Ellipse 6.svg" alt="" class="cart-circle">
								<p class="cart-huy">
									Наложенным платежом в отделении Новой Почты
								</p>
							</div>
						</div>
					</div>
					<div class="cart-offer">
						<p class="cart-offer-text">
							ДОСТАВКА: <span class="cart-offer-text--fw-bold">По тарифам перевозчика</span> 
						</p>
						<p class="cart-offer-text">
							ИТОГО: <span class="cart-offer--text-right">14 500 руб</span> 
						</p>
						<button class="cart-offer-button">
							ОФОРМИТЬ ЗАКАЗ
						</button>
						<p class="cart-offer-text-under">
							Нажимая на кнопку «оформить заказ», я <br> принимаю условия публичной оферты и <br> политики конфиденциальности
						</p>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="footer-flex">
				<div class="footer-number">
					<a href="">
						<i class="fa-solid fa-phone fa-2xl"></i>
						<p class="footer-text">
							+7 (999) 999 99-99
						</p>
					</a>
				</div>
				<div class="footer-adress">
					<a href=""><i class="fa-solid fa-location-dot fa-2xl"></i></a>
					<p class="footer-text">
						<a class="footer-map" href="https://maps.app.goo.gl/uRuEgu8wuG3qbstY8">г. Брянск, пр-т Станке Димитрова, д. 3 </a>
					</p>
				</div>
				<div class="footer-mail">
					<a href=""><i class="fa-solid fa-envelope fa-2xl"></i></a>
					<p class="footer-text">
						<a href="">ignis@gmail.com</a>
					</p>
				</div>
				<div class="footer-schedule">
					<i class="fa-solid fa-calendar fa-2xl"></i>
					<p class="footer-text">
						с 08:00 <br> до 22:00 по МСК
					</p>
				</div>
				<div class="footer-social">
					<a class="footer-link-social" href=""><i class="fa-brands fa-telegram fa-2xl"></i></a>
					<a class="footer-link-social" href="https://vk.com/bgitu_ru"><i class="fa-brands fa-vk fa-2xl"></i></a>
					<p class="footer-text">
						Наши соц.сети
					</p>
				</div>
			</div>
		</div>
		<div class="line"></div>
		<div class="footer-subtitle">
			Copyright © 2024 The IGNIS. All Rights Reserved.
		</div>
	</footer>
</body>
</html>