{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static "deps/css/style.css" %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="{% static "deps/css/normalize.css" %}">
	<link rel="icon" href="{% static "deps/media/favicon.ico" %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header-flex">
				<nav class="header-menu-left">
					<ul class="header-menu-list">
						<li class="header-menu-item"><a class="header-menu-link" href="{% url "goods:catalog-woman" %}"><i class="fa-solid fa-venus"></i> Женщинам</a></li>
						<li class="header-menu-item"><a class="header-menu-link" href="{% url "goods:catalog-men" %}"><i class="fa-solid fa-mars"></i> Мужчинам</a></li>
					</ul>
				</nav>
				<div class="header-logo">
					<a href="{% url "main:index" %}"><img src="{% static "deps/media/main/header/Logo.svg" %}" alt="" class="header-avatar"></a>
					<div class="header-line">
						<img src="{% static "deps/media/main/header/Line 1.svg" %}" alt="">
					</div>
					<h1 class="header-title">
						<a class="header-title-link" href="{% url "main:index" %}">ignis</a>
					</h1>
				</div>
				<nav class="header-menu-right">
					<ul class="header-menu-list">
						{% if not user.is_authenticated %}
							<li class="header-menu-item"><a class="header-menu-link" href="{% url "users:login" %}"><i class="fa-solid fa-right-to-bracket"></i> Войти</a></li>
						{% else %}
							<li class="header-menu-item"><a class="header-menu-link" href="{% url "users:profile" %}"><i class="fa-solid fa-user"></i> Профиль</a></li>
							<li class="header-menu-item"><a class="header-menu-link" href="favorites.html"><i class="fa-solid fa-heart"></i> Избранное</a></li>
							<li class="header-menu-item"><a class="header-menu-link" href="{% url "cart:cart_detail" %}"><i class="fa-solid fa-cart-shopping"></i> корзина</a></li>
							{% if user.is_admin or user.is_staff%}
							<li class="header-menu-item"><a class="header-menu-link" href="{% url "admin:index" %}"><i class="fa-solid"></i> админ панель</a></li>
							{% endif %}
						{% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<section class="catalog-men">
			<div class="container">
				<div class="catalog-men-flex">
					<div class="col-3">
						<nav class="catalog-men-navbar">
							<ul class="catalog-men-list">
								<li class="catalog-men-item"><a href="{% url "main:index" %}" class="catalog-men-link">Главная</a></li>
								<i class="fa-solid fa-chevron-right"></i>
								<li class="catalog-men-item"><a href="{% url "goods:catalog-woman" %}" class="catalog-men-link">Каталог</a></li>
								<i class="fa-solid fa-chevron-right"></i>
								<a href="{% if product.gender == 'Жен' %}{% url 'goods:catalog-woman' %}{% else %}{% url 'goods:catalog-men' %}{% endif %}" class="catalog-men-link">{{ gender }}</a>
							</ul>
						</nav>
						<div class="catalog-men-menu-items">
							<ul class="catalog-men-menu-list">
								{% for category in categories %}
								<li class="catalog-men-menu-item">
									<a href="{% url 'goods:catalog-men-category' category.slug %}" class="catalog-men-menu-link">{{category.name}}</a>
								</li>
								{% endfor %}	
							</ul>
						</div>
					</div>
					<div class="col-9">
						<nav class="catalog-men-navbar">
							<ul class="catalog-men-list">
								<li class="catalog-men-item"><a href="" class="catalog-men-link">Цвет</a><a href="" class="catalog-men-link"><i class="fa-solid fa-chevron-down"></i></a></li>
								<li class="catalog-men-item"><a href="" class="catalog-men-link">Цена</a><a href="" class="catalog-men-link"><i class="fa-solid fa-chevron-down"></i></a></li>
								<li class="catalog-men-item"><a href="" class="catalog-men-link">Размер</a><a href="" class="catalog-men-link"><i class="fa-solid fa-chevron-down"></i></a></li>
								<li class="catalog-men-item"><a href="" class="catalog-men-link">Сортировка</a><a href="" class="catalog-men-link"><i class="fa-solid fa-chevron-down"></i></a></li>
							</ul>
						</nav>
						<div class="catalog-men-flex">
                            {% for product in goods %}
								<div class="catalog-men-info">
									<div class="catalog-men-images">
										<a href="{% url 'goods:product' product.id %}">
											<img src="{{ product.image.url }}" alt="{{ product.name }}" class="catalog-men-avatar">
										</a>
										<a href="#"><i class="fa-regular fa-heart" style="color: #ffffff;"></i></a>
										<h2 class="catalog-men-text">
											<a class="catalog-men-title-link" href="{% url 'goods:product' product.id %}">{{ product.name }}</a>
										</h2>
										<p class="catalog-men-num">
											{{ product.price }} руб.
										</p>
										<div class="catalog-men-svg">
											<a href="#"><img src="{% static "deps/media/color_eclipse/Ellipse 1.svg" %}" alt="Color:white"></a>
											<a href="#"><img src="{% static "deps/media/color_eclipse/Ellipse 2.svg" %}" alt="Color:blue"></a>
											<a href="#"><img src="{% static "deps/media/color_eclipse/Ellipse 3.svg" %}" alt="Color:beige"></a>
										</div>
									</div>
								</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="footer-flex">
				<div class="footer-number">
					<a href="">
						<i class="fa-solid fa-phone fa-2xl"></i>
						<p class="footer-text">
							+7 (999) 999 99-99
						</p>
					</a>
				</div>
				<div class="footer-adress">
					<a href=""><i class="fa-solid fa-location-dot fa-2xl"></i></a>
					<p class="footer-text">
						<a class="footer-map" href="https://maps.app.goo.gl/uRuEgu8wuG3qbstY8">г. Брянск, пр-т Станке Димитрова, д. 3 </a>
					</p>
				</div>
				<div class="footer-mail">
					<a href=""><i class="fa-solid fa-envelope fa-2xl"></i></a>
					<p class="footer-text">
						<a href="">ignis@gmail.com</a>
					</p>
				</div>
				<div class="footer-schedule">
					<i class="fa-solid fa-calendar fa-2xl"></i>
					<p class="footer-text">
						с 08:00 <br> до 22:00 по МСК
					</p>
				</div>
				<div class="footer-social">
					<a class="footer-link-social" href=""><i class="fa-brands fa-telegram fa-2xl"></i></a>
					<a class="footer-link-social" href=""><i class="fa-brands fa-vk fa-2xl"></i></a>
					<p class="footer-text">
						Наши соц.сети
					</p>
				</div>
			</div>
			<div class="line">
	
			</div>
			<div class="footer-subtitle">
				Copyright © {{ year }} The IGNIS. All Rights Reserved.
			</div>
		</div>
	</footer>
</body>
</html>