{% load static %} 

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
	<meta charset="UTF-8">
	<link rel="stylesheet" href={% static "deps/css/style.css" %}>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="{% static "deps/css/normalize.css" %}">
	<link rel="icon" href="{% static "deps/media/favicon.ico" %}"/>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
</head>
<body>
	<header class="header">
		<div class="container">
			<div class="header-flex">
				<nav class="header-menu-left">
					<ul class="header-menu-list">
						<li class="header-menu-item"><a class="header-menu-link" href="{% url "goods:catalog-woman" %}"><i class="fa-solid fa-venus"></i> Женщинам</a></li>
						<li class="header-menu-item"><a class="header-menu-link" href="{% url "goods:catalog-men" %}"><i class="fa-solid fa-mars"></i> Мужчинам</a></li>
					</ul>
				</nav>
				<div class="header-logo">
					<a href="{% url "main:index" %}"><img src="{% static "deps/media/main/header/Logo.svg" %}" alt="" class="header-avatar"></a>
					<div class="header-line">
						<img src="{% static "deps/media/main/header/Line 1.svg" %}" alt="">
					</div>
					<h1 class="header-title">
						<a class="header-title-link" href="{% url "main:index" %}">ignis</a>
					</h1>
				</div>
				<nav class="header-menu-right">
					<ul class="header-menu-list">
						{% if not user.is_authenticated %}
                        <li class="header-menu-item"><a class="header-menu-link" href="{% url "users:login" %}"><i class="fa-solid fa-right-to-bracket"></i> Войти</a></li>
                    {% else %}
						<li class="header-menu-item"><a class="header-menu-link" href="{% url "user:profile" %}"><i class="fa-solid fa-user"></i> Профиль</a></li>
						<li class="header-menu-item"><a class="header-menu-link" href="favorites.html"><i class="fa-solid fa-heart"></i> Избранное</a></li>
						<li class="header-menu-item"><a class="header-menu-link" href="cart.html"><i class="fa-solid fa-cart-shopping"></i> корзина</a></li>
						{% if user.is_admin or user.is_staff%}
						{% comment %} <li class="header-menu-item"><a class="header-menu-link" href="{% url "admin:index" %}"><i class="fa-solid"></i> админ панель</a></li> {% endcomment %}
						{% endif %}
                    {% endif %}
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<main>
		<section class="profile">
			<div class="container-small">
				<div class="profile-menu">
					<ul class="profile-menu-list">
						<li class="profile-item"><a class="profile-menu-link" href="{% url "main:index" %}">Главная</a></li>
						<i class="fa-solid fa-chevron-right"></i>
						<li class="profile-item"><a class="profile-menu-link" href="{% url "user:profile" %}">Личный кабинет</a></li>
					</ul>
				</div>
				<div class="profile-menu-history">
					<ul class="profile-menu-list">
						<li class="profile-menu-item"><a href="#">История заказов</a></li>
						<li class="profile-menu-item"><a href="{% url "user:profile" %}">Личный кабинет</a></li>
						<li class="profile-menu-item"><a href="{% url "user:logout" %}">Выйти</a></li>
					</ul>
				</div>
				<div class="profile-personal-info">
					<h1 class="profile-info-title">
						Персональные данные:
					</h1>
					<form action="{% url 'user:profile' %}" method="POST" class="profile-form">
						{% csrf_token %}
						<div class="profile-item">
							<input type="text" id="id_first_name" name="first_name" value="{{ form.first_name.value|default_if_none:'' }}" placeholder="Имя" required>
							{% for error in form.first_name.errors %}
							<div class="alert">
								<p>{{ error }}</p>
							</div>
							{% endfor %}
							<input type="text" id="id_last_name" name="last_name" value="{{ form.last_name.value|default_if_none:'' }}" placeholder="Фамилия">
							{% for error in form.last_name.errors %}
							<div class="alert">
								<p>{{ error }}</p>
							</div>
							{% endfor %}
							<input type="text" id="id_username" name="username" value="{{ form.username.value|default_if_none:'' }}" placeholder="Имя пользователя">
							{% for error in form.username.errors %}
							<div class="alert">
								<p>{{ error }}</p>
							</div>
							{% endfor %}
						</div>
						<div class="profile-item profile-item-second">
							<input type="email" id="id_email" name="email" value="{{ form.email.value|default_if_none:'' }}" placeholder="E-mail" required>
							{% for error in form.email.errors %}
							<div class="alert">
								<p>{{ error }}</p>
							</div>
							{% endfor %}
							<input type="phone" id="id_phone_number" name="phone_number" value="{{ form.phone_number.value|default_if_none:'' }}" placeholder="Телефон" required>
							{% for error in form.phone_number.errors %}
							<div class="alert">
								<p>{{ error }}</p>
							</div>
							{% endfor %}
						</div>
						<div class="profile-personal-info">
							<h1 class="profile-info-title">
								Адрес доставки:
							</h1>
							<div class="profile-item">
								<input type="text" id="id_town" name="town" value="{{ form.town.value|default_if_none:'' }}" placeholder="Город" required>
								<input type="text" id="id_street" name="street" value="{{ form.street.value|default_if_none:'' }}" placeholder="Улица" required>
								<input type="text" id="id_house" name="house" value="{{ form.house.value|default_if_none:'' }}" placeholder="Дом" required>
							</div>
							<button type="submit" class="profile-button">
								ОБНОВИТЬ ИНФОРМАЦИЮ
							</button>
							<p class"profile-approval">Заполняя данную форму Вы даёте согласие на обработку персональных данных</p>
						</div>
					</form>
				</div>		
			</div>
		</section>
	</main>
	<footer class="footer">
		<div class="container">
			<div class="footer-flex">
				<div class="footer-number">
					<a href="">
						<i class="fa-solid fa-phone fa-2xl"></i>
						<p class="footer-text">
							+7 (999) 999 99-99
						</p>
					</a>
				</div>
				<div class="footer-adress">
					<a href=""><i class="fa-solid fa-location-dot fa-2xl"></i></a>
					<p class="footer-text">
						<a class="footer-map" href="https://maps.app.goo.gl/uRuEgu8wuG3qbstY8">г. Брянск, пр-т Станке Димитрова, д. 3 </a>
					</p>
				</div>
				<div class="footer-mail">
					<a href=""><i class="fa-solid fa-envelope fa-2xl"></i></a>
					<p class="footer-text">
						<a href="">ignis@gmail.com</a>
					</p>
				</div>
				<div class="footer-schedule">
					<i class="fa-solid fa-calendar fa-2xl"></i>
					<p class="footer-text">
						с 08:00 <br> до 22:00 по МСК
					</p>
				</div>
				<div class="footer-social">
					<a class="footer-link-social" href=""><i class="fa-brands fa-telegram fa-2xl"></i></a>
					<a class="footer-link-social" href=""><i class="fa-brands fa-vk fa-2xl"></i></a>
					<p class="footer-text">
						Наши соц.сети
					</p>
				</div>
			</div>
			<div class="line">
	
			</div>
			<div class="footer-subtitle">
				Copyright © {{ year }} The IGNIS. All Rights Reserved.
			</div>
		</div>
	</footer>
</body>
</html>