{% load static %} 

<!DOCTYPE html>
<html lang="en">
{% block head %}
{% endblock %}
<body>
	{% block header %}
	{% endblock %}
	<main>
		<section class="main">
			<div class="container">
				<div class="main-flex">
					<img src="{% static "deps/media/main/section_main/Девушка_Наушники.jpg" %}" alt="" class="main-avatar">
					<img src="{% static "deps/media/main/section_main/Девушка_Ушанка1.jpg" %}" alt="" class="main-avatar">
					<img src="{% static "deps/media/main/section_main/Девушка_Кепка.jpg" %}" alt="" class="main-avatar">
					<p class="main-overlay">{{ sale }}</p>	{% comment %} динамическое обновление надписи должно быть{% endcomment %}
				</div>
			</div>
		</section>
		<section class="category">
			<div class="container">
				<a class="category-title">
					категории
				</a>
				<p class="category-text">
					Стиль и комфорт для каждого дня: откройте для себя коллекцию головных уборов, <br> идеально подходящих для любого сезона и случая.
				</p>
				<div class="category-images">
					<div class="category-container-img">
						<img src="{% static "deps/media/main/section_category/Панама.jpg" %}" alt="" class="category-img">
						<a class="category-sutitle">
							ПАНАМЫ
						</a>
					</div>
					<div class="category-container-img">
						<img src="{% static "deps/media/main/section_category/Кепка.jpg" %}" alt="" class="category-img">
						<a class="category-sutitle">
							КЕПКИ
						</a>
					</div>
					<div class="category-container-img">
						<img src="{% static "deps/media/main/section_category/Шапка.jpg" %}" alt="" class="category-img">
						<a class="category-sutitle">
							ШАПКИ
						</a>
					</div>
				</div>
			</div>
		</section>
		<section class="new">
			<div class="container">
				<div class="new-flex">
					<div class="new-info">
						<h1 class="new-title">
							Подпишитесь на нашу рассылку новостей
						</h1>
						<p class="new-text">
							Персональные предложения, ранний доступ к новым коллекциями <br> скидка <span class="new-text--fw-900">10%</span> на первый заказ при подписке на рассылку
						</p>
						<label action="" class="form">
							<input class="new-input" type="email" placeholder="ignis@gmail.com">
							<button class="new-button">Подписаться</button>
						</label>
					</div>
					<div class="new-logo">
						<a href=""><img src="{% static "deps/media/main/header/Logo.svg" %}" alt="" class="new-avatar"></a>
						<div class="new-line">
							<img src="{% static "deps/media/main/header/Line 1.svg" %}" alt="">
						</div>
						<h1 class="new-title-logo">
							<a class="new-title-link" href="">ignis</a>
						</h1>
					</div>
				</div>
			</div>
		</section>
	</main>
	{% block footer %}
	{% endblock  %}
</body>
</html>